{{ partial "global-header.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}
<section id = "workshops">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-12">
        <div class="block">
          <div style="margin-top:70px;">
            <h4><a href="https://www.serverlesscomputing.org/wosc7/" target = _blank>WoSC: Seventh International Workshop on Serverless Computing</a></h4>
            <h4><a href="http://www.m4iot.org/" target = _blank>M4IoT: 8th International Workshop on Middleware and Applications for the Internet of Things</a></h4>
            <h4><a href="https://didl-conf.github.io/didl5/" target = _blank>DIDL: Fifth Workshop on Distributed Infrastructures for Deep Learning</a></h4>
            <h4><a href="#">DICG: International Workshop on Distributed Infrastructure for the Common Good</a></h4>
            <h4><a href="#">WoC: Workshop on Container Technologies and Container Clouds</a></h4>
          </div>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
